<div
  class="relative overflow-hidden py-12 px-12 mx-0 mt-20 lg:mx-20 bg-surface-0 dark:bg-surface-900"
>
  <svg
    aria-hidden="true"
    class="pointer-events-none absolute inset-x-0 bottom-0 h-64 w-full"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      d="M0,256L48,229.3C96,203,192,149,288,144C384,139,480,181,576,213.3C672,245,768,267,864,250.7C960,235,1056,181,1152,160C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      fill="var(--p-content-hover-background, #e6f0ff)"
    ></path>
  </svg>
  <svg
    aria-hidden="true"
    class="pointer-events-none absolute inset-x-0 bottom-0 h-56 w-full opacity-60"
    viewBox="0 0 1440 320"
    preserveAspectRatio="none"
  >
    <path
      d="M0,288L60,272C120,256,240,224,360,229.3C480,235,600,277,720,277.3C840,277,960,235,1080,208C1200,181,1320,171,1380,165.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      fill="var(--p-content-hover-background, #e6f0ff)"
    ></path>
  </svg>

  <div class="relative z-10 grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-2">
      <img src="img/logo_Leones.png" class="h-25 mr-2" alt="Club de Leones" />
    </div>

    <div class="col-span-12 md:col-span-10">
      <div class="grid grid-cols-12 gap-8 text-center md:text-left">
        <div class="col-span-12 md:col-span-3">
          <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">
            Links Importantes
          </h4>
          <a
            class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
            >Agendamiento de Citas</a
          >
          <a
            class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
            >Términos y Condiciones</a
          >
          <a
            class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
            >Contáctanos</a
          >
          <a
            class="leading-normal text-xl block cursor-pointer text-surface-700 dark:text-surface-100"
            >WebMail</a
          >
        </div>

        <div class="col-span-12 md:col-span-3">
          <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">
            Menú
          </h4>
          <a
            class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
            >Nosotros</a
          >
          <a
            class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
            >Servicios</a
          >
          <a
            class="leading-normal text-xl block cursor-pointer text-surface-700 dark:text-surface-100"
            >Contacto</a
          >
        </div>

        <div class="col-span-12 md:col-span-3">
          <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">
            Comunidad
          </h4>
          <a
            class="leading-normal text-xl flex items-center justify-center md:justify-start cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
          >
            <i class="pi pi-facebook mr-2"></i> Facebook
          </a>
          <a
            class="leading-normal text-xl flex items-center justify-center md:justify-start cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
          >
            <i class="pi pi-instagram mr-2"></i> Instagram
          </a>
          <a
            class="leading-normal text-xl flex items-center justify-center md:justify-start cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
          >
            <i class="pi pi-twitter mr-2"></i> Twitter
          </a>
          <a
            class="leading-normal text-xl flex items-center justify-center md:justify-start cursor-pointer text-surface-700 dark:text-surface-100"
          >
            <i class="pi pi-book mr-2"></i> Blog
          </a>
        </div>

        <div class="col-span-12 md:col-span-3">
          <h4 class="font-medium text-2xl leading-normal mb-6 text-surface-900 dark:text-surface-0">
            Legal
          </h4>
          <a
            class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
            >Política de Marca</a
          >
          <a
            class="leading-normal text-xl block cursor-pointer mb-2 text-surface-700 dark:text-surface-100"
            >Política de Privacidad</a
          >
          <a
            class="leading-normal text-xl block cursor-pointer text-surface-700 dark:text-surface-100"
            >Términos y condiciones</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
