<div
  id="hero"
  class="flex flex-col pt-6 px-2 lg:px-20 overflow-hidden"
  style="
    background:
      linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)),
      radial-gradient(
        77.36% 256.97% at 77.36% 57.52%,
        rgb(238, 239, 175) 0%,
        rgb(73, 111, 138) 100%
      );
    clip-path: ellipse(150% 100% at 100% 13%);
  "
>
  <div class="mx-6 md:mx-20 mt-0 md:mt-6">
    <button
      pButton
      pRipple
      [rounded]="true"
      type="button"
      label="Agendar Cita"
      class="text-xl! mt-8 px-4!"
      routerLink="/appointments"
    ></button>
  </div>
  <div class="flex justify-center md:justify-end -mt-15 md:-mt-17">
    <img src="img/hero.png" alt="Hero Image" class="w-9/12 md:w-auto" />
  </div>
</div>
